<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Perkenalkan nama saya Muhammad Sayuti biasa dipanggil sayutii, saya berasal dari Provinsi Aceh tepat nya di Aceh Utara, lahir di Desa Teupin keubeu pada tanggal 30 Maret 2000, anak terakhir dari 4 bersaudara. Menempuh pendidikan di provinsi Aceh selama 12 tahun di mulai dari SD Negeri 8 Matangkuli dan berlanjut ke SMP Negeri 1 Matangkuli, dan berlanjut ke Sekolah Menengah Pertama (SMA) yaitu pada SMK Negeri 1 Matangkuli. 
            </p>
            <p class="paragraph-text justify-text">
                Dan sekarang saya adalah seorang mahasiswa dari Politeknik Aceh dengan program studi Teknologi Informasi.
            </p>
            <p class="paragraph-text justify-text">
                Setiap orang memiliki tujuan dan rencana masa depan yang baik, segala proses akan dilalui dari pengalaman dan kesempatan yang didapatkan, baik dan buruknya tergantung dari sikap dan cara kita menghadapi nya, masa depan saya adalah menjadi seorang ahli di bidang saya, dan menjadi orang yang bermanfaat serta berguna di lingkungan sekitar serta menjadi contoh baik kepada orang lain.
            </p>
        </div>
    </section>
</div>
