<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#"><span>Sayutii</span></a></div>
        <ul class="menu">
            <li><a href="#home" class="menu-btn">Beranda</a></li>
            <li><a href="#about" class="menu-btn">Tentang</a></li>
            <li><a href="#skills" class="menu-btn">Kemampuan</a></li>
            <li><a href="#teams" class="menu-btn">Tim</a></li>
            <li><a href="#contact" class="menu-btn">Kontak</a></li>
            <li><a href="https://sayutiii.wordpress.com/" class="menu-btn">WordPress</a></li>
            <li><a href="https://resumesayuti.sayutii.repl.co" class="menu-btn">Replit</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>