<section class="services" id="services">
    <div class="max-width">
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-school"></i>
                    <div class="text">SD Negeri 8 Matangkuli</div>
                    <p>2006 - 2012</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-school"></i>
                    <div class="text">SMP Negeri 1 Matangkuli</div>
                    <p>2012 - 2015</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-school"></i>
                    <div class="text">SMA Negeri 1 Matangkuli</div>
                    <p>2015 - 2018</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>