<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">Tentang Saya</h2>
        <div class="about-content">
            <div class="column left">
                <img src="assets/images/yut.jpg" alt="">
            </div>
            <div class="column right">
                <div class="text">Muhammad Sayuti</div>
                <p>Izinkan saya memperkenalkan diri, nama saya Muhammad Sayuti biasa dipanggil sayuti, beragama islam dan berkebangkasaan Indonesia. Saya lahir di desa Teupin Keubeu pada tanggal 30 maret 2000, anak terakhir dari empat bersaudara. Saya adalah seorang mahasiswa dari Politeknik Aceh dengan program study Teknologi Informasi.</p>
             </div>
        </div>
    </div>
</section>
