<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">Claws Four</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="assets/images/haha.jpeg" alt="">
                    <div class="text">C4 <span>• </span>Deago</div>
                    <p>Sayuti biasa dipanggil deago Master sniper, dan sangat barbar.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/sodok.jpeg" alt="">
                    <div class="text">C4 <span>• </span>Zonk</div>
                    <p>farhan biasa dipangil sodok Suka toxic, main nub, dan buaya.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/hasan.JPG" alt="">
                    <div class="text">C4 <span>• </span>Cing</div>
                    <p>Hasanul biasa dipanggil cingyt mainnya hebat, lumayan jago dikit.</p>
                </div>
            </div>
        </div>
    </div>
</section>