<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

{% include nav.html %}

    <!-- home section start -->
{% include background.html %}    

    <!-- about section start -->
{% include tentang.html %}
    
    <!-- services section start -->
{% include service.html %}   

    <!-- skills section start -->
{% include kemampuan.html %} 

    <!-- teams section start -->
{% include tim.html %} 

    <!-- contact section start -->
{% include kontak.html %}   

    <!-- footer section start -->
{% include footer.html %}  

{% include scripts.html %}  
    
</body>
</html>
